@import '../../../styles.scss';

#customers-wrap {
  position: absolute;
  left: 280px;
  width: calc(100vw - 290px);
  
  .customers {
    position: relative;
    background: $nav;
    border-radius: 10px;
    color: $light;
    margin: 50px 0 50px 0;
    width: 100%;
    padding: 15px 0 10px 0;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 15px;
    grid-template-rows: auto;
    grid-template-areas:
      "data chart chart chart"
      "revenue revenue revenue revenue"
      "used-items used-items used-items used-items";

    app-client-data {
      grid-area: data;
    }

    app-client-orders-regularity-chart {
      grid-area: chart;
    }

    app-client-revenue {
      grid-area: revenue;
    }

    app-client-used-items {
      grid-area: used-items;
    }


    // PATH
    ///////////////////////////////////////////    
    .header-products {
      position: absolute;
      top: -60px;
      left: 20px;

      letter-spacing: 3px;
      font-family: Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif;

      .nav-stream {
        color: $red;
        font-size: 20px;
      }

      .slash-stream {
        margin-left: 3px;
        margin-right: 3px;
        color: $purple;
        font-weight: 900;
      }
    }
  }
}