<div class="client-used-items">
  <h2>Used items</h2>
  <table class="table-used-items">
    <tr class="table-header">
      <td class="td-header-name">
        <h3>Product</h3>
      </td>
      <td class="td-header-price">
        <h3>Price</h3>
      </td>
      <td class="td-header-stock">
        <h3>Stock</h3>
      </td>
      <td class="td-header-total">
        <h3>Total</h3>
      </td>
    </tr>

    <tr class="table-product">
      <td class="td-name">CARTRIDGE</td>
      <td class="td-price">6,64 zł</td>
      <td class="td-stock">2 szt.</td>
      <td class="td-total">13,28 zł</td>
    </tr>
    <tr class="table-product--zebra">
      <td class="td-name">CARTRIDGE</td>
      <td class="td-price">6,64 zł</td>
      <td class="td-stock">2 szt.</td>
      <td class="td-total">13,28 zł</td>
    </tr>
    <tr class="table-product">
      <td class="td-name">CARTRIDGE</td>
      <td class="td-price">6,64 zł</td>
      <td class="td-stock">2 szt.</td>
      <td class="td-total">13,28 zł</td>
    </tr>
    <tr class="table-product--zebra">
      <td class="td-name">CARTRIDGE</td>
      <td class="td-price">6,64 zł</td>
      <td class="td-stock">2 szt.</td>
      <td class="td-total">13,28 zł</td>
    </tr>
  </table>
</div>